#account-form input {
  font-size: 18px;
  max-height: 32px;
  min-width: 200px;
  margin: 0px 60px 20px 60px;
  padding: 12px 24px 12px 8px;

  border: none;
  box-shadow: 0px 0px 6px 2px rgb(192, 192, 192);
  border-radius: 6px;
}

#account-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 820px;
  margin: 40px;
}

#account-form-status {
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 1.3rem;
  font-weight: 600;
}

.account-success {
  color: rgba(69, 255, 52, 0.8)
}

.account-fail {
  color: rgba(255, 52, 52, 0.8)
}

#account-form input:focus {
  outline: none;
}

#form-buttons {
  display: flex;
  margin: 0px 50px;
}

#sign-up,
#sign-in {
  font-size: 18px;
  width: fit-content;
  border: none;
  background-color: transparent;
  margin-left: 55px;
  padding-top: 6px;
  text-decoration: none;
}

#login-btn,
#create-account-btn {
  width: fit-content;
  font-size: 17px;
  padding: 6px 20px;
  
  border-radius: 12px;
  border: none;
  font-weight: 600;
}

#login-btn {
  background-color: #7B8CDE;
  color: white;
  text-decoration: none;
}

#create-account-btn {
  background-color: #E88D67;
  color: rgb(255, 255, 255);
}

#create-account-btn:hover {
  cursor: pointer;
  background-color: #f06a31;
  box-shadow: 0px 0px 4px 2px rgb(184, 184, 184);
}

#login-btn:hover {
  cursor: pointer;
  background-color: #0064ff;
  box-shadow: 0px 0px 4px 2px rgb(184, 184, 184);
}
