#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  background-image: 
  linear-gradient( 
    -45deg, 
    rgba( 0,0,0,0.125 ), transparent, rgba( 0,0,0,0.125 ), transparent, rgba( 0,0,0,0.125 )
  );
}

#home a {
  font-size: 4rem;
  text-decoration: none;
}

#home a:visited {
  color: rgb(75, 75, 75);
}