#login {
  display: flex;
  align-items: center;
  max-width: 812px;
  max-height: 347px;
  background-color: white;
  border-radius: 12px;
}

#login-image {
  /* box-sizing: border-box; */
}

#login-image, #login-image img {
  max-width: 347px;
  border-radius: 12px 0px 0px 12px;
}

#login-image img {
  position: relative;
  height: 348px;
  top: 2px;
}

#account-form {
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 820px;
  margin: 40px;
}