#chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);

  grid-row: 2 / 3;
  grid-column: 2 / 3;

  overflow: scroll;
  overflow-x: hidden;
}

#chat-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chat-window::-webkit-scrollbar {
  width: 0.8em;
}

#chat-window::-webkit-scrollbar-thumb {
  background-color: rgb(201, 201, 201);
  outline: 1px solid rgb(156, 177, 199);
}

.message-container {
  display: flex;
  background-color: bisque;
  margin-bottom: 6px;
}

.message-bubble {
  border: 1px solid black;
  min-width: 333px;
  max-width: 333px;
  word-break: break-all;
}

.message-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 2px 4px;
}

.message-author, .message-date-time {
  margin: 0;
}

.message-author {
  font-size: 1.2rem;
}

.message-text {
  font-size: 1.2rem;
  margin: 2px 4px;
}

.message-date-time {
  padding-top: 3px;
  font-size: 15px;
}

[data-active-user="true"] {
  margin-left: auto;
  background-color: rgb(65, 105, 225, 0.8);
  color: white;
}